%h1.mt-3.mb-3 イベント一覧

= form_with(mode: @event_search_form, url: root_path, method: :get) do |f|
  .form-group
    = f.label :keyboard, "キーワード"
    = f.text_field :keyword, class: "form-control"
  .form-group
    = f.label :start_at, "以降に開催されるイベント"
    = f.datetime_field :start_at, class: "form-control"
  .form-group
    = f.submit "検索", class: "btn btn-primary"

%ul.list-group.mb-3
  - @events.each do |event|
    = link_to(event, class: "list-group-item list-group-item-action") do
      %h5.list-group-item-heading= event.name
      %p.mb-1= "#{l(event.start_at, format: :long)} - #{l(event.end_at, format: :long)}"
      - if !!event.tags
        %p.mb-1
          - event.tags.map do |tag|
            %button{class: 'btn btn-secondary btn-sm'}
              = "#{tag.tag_name.strip}"

= paginate @events